.color-card {
    padding: 1em;
    background-color: rgba(255, 253, 232, 0.5);
}

.color-card:hover {
    background-color: rgba(255, 253, 232, 1);;
}

.st-contPC {
    background-color: #FFFDE8;
    padding-top: 1em;
}

.search-container {
    width: 20em; 
}

.st-con {
    background-color: #8e8b67f0;
    color: #FFFFFF;
    padding: 0.7em;
}

.st-loc {
    background-color: #7a7858df;
    color: #FFFFFF;
    padding: 0.7em;
}

