footer {
    font-family: 'Pangolin', cursive;
}

.s-footerLU {
    height: 12vh;
    background-color: #836DB3;
    transition: background-color 0.5s ease;
}

.s-footerLU:hover {
    background-color: #8570b3;
    cursor: pointer;
}