.s-form {
    height: 83vh;
    background-color: #FFFCCE;
}
 
.s-fieldset {
    font-family: 'Pangolin', cursive;
    background-color: #e5e2b6;
    padding: 2em;
    box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease, background-color 0.2s ease;
}

.s-fieldset:hover {
    background: #FFFCCE;
    background: -moz-radial-gradient(center, #FFFCCE 0%, #FFFCCE 37%, #E5E2B6 100%);
    background: -webkit-radial-gradient(center, #FFFCCE 0%, #FFFCCE 37%, #E5E2B6 100%);
    background: radial-gradient(ellipse at center, #FFFCCE 0%, #FFFCCE 37%, #E5E2B6 100%);
    transform: scale(1.02);
}

.p-error {
    font-size: 10px;
    color: red;
    font-style: bold;
}
