body {
    font-family: 'Pangolin', cursive;
}

.s-conecta {
    background-color: #836DB3;
    color: #DECFFF;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-navlink {
    height: 9vh;
    background-color: #DECFFF;
}

.s-form {
    height: 83vh;
    background-color: #FFFCCE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-fieldset {
    font-family: 'Pangolin', cursive;
    background-color: #e5e2b6;
    padding: 2em;
    box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.5);
    transition: transform background-color 0.10s ease;
}

.msg-1 {
    color: red;
    font-size: 0.55em;
    font-weight:600;
}

.s-fieldset:hover {
    background-color: #b3af7f6b;
    transform: scale(1.05);
}

.s-footer {
    height: 5vh;
    background-color: #836DB3;
    font-family: 'Pangolin', cursive;
    color: #DECFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    cursor: pointer;
}