body{
    font-family: 'Pangolin', cursive;
}   

.s-welcome {
    background-color: #836DB3;
    height: 10vh;
    color: #DECFFF;
}

.s-navbar {
    background-color: #DECFFF;
}

.st-cont {
    background-color: #FFFDE8;
    padding-top: 1em;
}

.st-inv {
    background-color: #b3af7faf;
    color: #FFFCCE
}

a {
    text-decoration: none;
    color: inherit; 
}

.input-custom {
    max-width: 40%;
    margin: 0 auto;
}
