footer {
    font-family: 'Pangolin', cursive;
}

.s-footerLG {
    height: 12vh;
    background-color: #836DB3;
    color: #DECFFF;
    padding-left: 1em;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.s-footerLG:hover {
    background-color: #8570b3;
    color: #c9b1fc;
    cursor: pointer;
}

.st-link {
    text-decoration: none;
    color: inherit; 
}